<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @order.event.title %> is officially happening!</h1>
    <p>  You ordered <%=@order.slices.count%>, and it will cost _____  </p>
    <p>Please pay <%=@order.event.president.user.name%> on Venmo or in cash before #{order.event.date.time} </p>
  </body>
</html>
