<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1 class="text-center">Analytics</h1>

    <h4>Restaurant with most Pizza Consumed</h4>
    <%= column_chart Slice.joins(:restaurant).group(:name).count %>

    <h4>Restaurant with Highest Profit</h4>
    <%= bar_chart Restaurant.restaurant_profit_total %>


    <h4>Slices Ordered by Slice Type</h4>
    <%= pie_chart Slice.total_slices_by_type %>
    <br>
    <br>

    <br>
    <h4>Top 5 Users by Events Attended</h4>
    <ul>
      <% User.sorted_by_event_count.each do |user| %>
        <li><%= "#{user.name} has attended #{user.events.count} events"%></li>
      <% end %>
    </ul>


  </div>

</div>
