<<<<<<< HEAD
<div class="col-sm-6 col-sm-offset-3">
  <h1 class="text-center">Analytics</h1>
  <h4>Slices Ordered by Slice Type</h4>
  <%= pie_chart Slice.total_slices_by_type %>
  <br>
  <br>
  <h4>Top Three Most Popular Pizzas</h4>
  <ul>
    <% Pizza.pizzas_by_popularity.each do |pizza| %>
      <li><%= "#{pizza.topping} from #{pizza.restaurant.name}" %></li>
    <% end %>
  </ul>
  <br>
  <br>
  <h4>Top 5 Users by Events Attended</h4>
  <ul>
    <% User.sorted_by_event_count.each do |user| %>
      <li><%= "#{user.name} has attended #{user.events.count} events"%></li>
    <% end %>
  </ul>
</div>
