<%= render partial: "form", locals: {order: @order, event: @event, pizza: @pizza} %>

<p><%= link_to "Delete Order", event_order_path(@order.event, @order), :method => :delete, :data => {:confirm => "No 'za bro?"}%></p>
