<h1>Order for <%= @order.event.title %></h1>
<h4><em><%= @order.event.time_left %> until orders close</em></h4>


This user ordered:

<ol>
  <% @order.slices.each do |slice| %>
    <li><%= slice.pizza.topping %></li>
  <% end %>
</ol>

<% if @order.user == current_user %>
  <p><%= link_to "Delete Order", event_order_path(@order.event, @order), :method => :delete, :data => {:confirm => "No 'za bro?"}%></p>
<% end %>