<h1>Welcome to Pizza Squad</h1>


<br><br>
<%= link_to "Create Event", new_event_path, {class:"btn btn-lg btn-primary"} %><br><br>


<%= link_to "Upcoming Events", events_path, {class:"btn btn-lg btn-primary"}%>
