  <div class="jumbotron" style="background: url(http://s27.postimg.org/cj0snkc5v/pizza_fade.jpg) no-repeat; margin: -2em -1.1em -2em -1.1em">

    <h1 class="welcome-header">Welcome to Pizza Squad</h1>
    <p style="font-size: 2em">Eat More Pizza</p>
    <br><br>

    <br><br>
    <%= link_to "Sign Up", new_user_registration_path, {class:"btn btn-lg btn-primary"} %><br><br>
    <%= link_to "Upcoming Events", events_path, {class:"btn btn-lg btn-primary"}%>

</div>

<div class="col-sm-12">
  <hr style="border-bottom: 1px solid #ccc; margin-top: 40px">
</div>

<div class="col-sm-6">
  <div class="row">
    <div class="col-sm-6">

      <h4>Slices Consumed by Type</h4>
      <%= pie_chart Slice.total_slices_by_type %>

    </div>
    <div class="col-sm-6">

      <h4>Pizza Parties by Date</h4>

    </div>
  </div>
</div>

<div class="col-sm-6">

  <h4>Slices Consumed by Type</h4>
  <%= pie_chart Slice.total_slices_by_type %>

</div>
