/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {
   padding-top: 50px;
   margin-bottom: 50px;
 }

.footer {
  bottom: 0;
  position: relative;
  padding-top: 50px;
  width: 100%;
}

 .thick-rule {
   border-bottom: 1px solid #ccc;
 }

 .pizza-squad {
   font-family: "Patua One";
   font-size: 1.1em;
 }

 .header-block {
   margin-bottom: 40px;
 }

 .jumbotron {
    background: url('http://s27.postimg.org/cj0snkc5v/pizza_fade.jpg');
    background-size: cover;
    margin-bottom: 0px;
    height: 470px;
    border-bottom: 1px solid #ccc;
}

.visitor-welcome {
 font-family: "Lobster";
}

.heading {
  font-family: "Patua One";
  margin-bottom: 5%;
}

.double-size {
 font-size: 2em;
}

.description {
 font-size: 120%;
}

.prominent-number {
 font-size: 3em;
 margin-bottom: -2%;
}

.list-format {
  background-color: #9494b8;
  border: black;
}
